<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>Test Chat</title>
</head>
 <link rel="stylesheet" type="text/css" href="mystyle.css">
<body>


  <h3>あなたは<%= @times %>働きました</h3>
  <h3>給料は<%= @sum %>円です</h3>
  <h3>お疲れ様でした♪</h3>

 <li><a href="/">ホームに戻る</a></li>

</body>
</html>