<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title>Test Chat</title>
</head>
 <link rel="stylesheet" type="text/css" href="mystyle.css">
<body>

<table>

  <%= @messages %>
</table>

</body>
</html>

<li><a href="/">ホームに戻る</a></li>
