<!DOCTYPE html>
<html>
 <head>
 <meta charset="UTF-8" />
 <title>シフト管理アプリ</title>
 </head>
 <link rel="stylesheet" type="text/css" href="mystyle.css">
 <body>
 
 <div class="title">
 <h1>シフト管理アプリ</h1>
 </div>


<div class="menu">
<details>
<summary>シフト</summary>
<p>新規のシフトの入力ができます</p>
 <p><a href="/index" >シフト入力へ</a></p>
</details>

<details>
<summary>登録データ</summary>
<p>過去に入力したデータの閲覧ができます</p>
<p><a href="/result">登録データへ</a></p>
</details>

<details>
<summary>給料データ</summary>
  <p>月給を表示します</p>
  <p><a href="/money">給料データへ</a></p>
</details>

<details>
<summary>個人情報</summary>
  <p>時給などの個人情報を入力します</p>
  <p>まだ入力していない方はさきにこちらを入力してください</p>
  <p><a href="/mypage">個人情報入力へ</a></p>
</details>
</div>

 
 

 

  

 